.loginForm__input {
  background-color: rgb(235, 235, 235);
  padding: 0.7rem;
  border-radius: 10px;
}
.loginForm__input__label {
  margin-bottom: 0.2rem;
  font-weight: 500;
  color: #323232;
  margin-top: 1rem;
}
.loginForm__errorTxt {
  color: red;
  font-size: 0.875rem;
  margin: 0;
}
